.u-section-1 .u-sheet-1 {
  min-height: 615px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 45px auto 0 482px;
}

.u-section-1 .u-tabs-1 {
  min-height: 485px;
  width: 1140px;
  margin: 43px auto 0 -14px;
}

.u-section-1 .u-tab-item-1 {
  margin-bottom: 0;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-item-2 {
  margin-bottom: 0;
}

.u-section-1 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-item-3 {
  margin-bottom: 0;
}

.u-section-1 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-item-4 {
  margin-bottom: 0;
}

.u-section-1 .u-tab-link-4 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-item-5 {
  margin-bottom: 0;
}

.u-section-1 .u-tab-link-5 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-item-6 {
  margin-bottom: 0;
}

.u-section-1 .u-tab-link-6 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-item-7 {
  margin-bottom: 0;
}

.u-section-1 .u-tab-link-7 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-item-8 {
  margin-bottom: 0;
}

.u-section-1 .u-tab-link-8 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-item-9 {
  margin-bottom: 0;
}

.u-section-1 .u-tab-link-9 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-item-10 {
  margin-bottom: 0;
}

.u-section-1 .u-tab-link-10 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-item-11 {
  margin-bottom: 0;
}

.u-section-1 .u-tab-link-11 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-item-12 {
  margin-bottom: 0;
}

.u-section-1 .u-tab-link-12 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-pane-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 25px;
}

.u-section-1 .u-text-1 {
  line-height: 28.8px;
  font-weight: 400;
  margin: 0 937px 0 0;
}

.u-section-1 .u-table-1 {
  margin: 30px auto 0 0;
}

.u-section-1 .u-tab-pane-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 25px;
}

.u-section-1 .u-text-2 {
  line-height: 28.8px;
  font-weight: 400;
  margin: 0 937px 0 0;
}

.u-section-1 .u-table-2 {
  margin: 30px auto 0 0;
}

.u-section-1 .u-tab-pane-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 25px;
}

.u-section-1 .u-text-3 {
  line-height: 28.8px;
  font-weight: 400;
  margin: 0 937px 0 0;
}

.u-section-1 .u-table-3 {
  margin: 30px auto 0 0;
}

.u-section-1 .u-tab-pane-4 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 25px;
}

.u-section-1 .u-text-4 {
  line-height: 28.8px;
  font-weight: 400;
  margin: 0 937px 0 0;
}

.u-section-1 .u-table-4 {
  margin: 30px auto 0 0;
}

.u-section-1 .u-tab-pane-5 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 25px;
}

.u-section-1 .u-text-5 {
  line-height: 28.8px;
  font-weight: 400;
  margin: 0 937px 0 0;
}

.u-section-1 .u-table-5 {
  margin: 30px auto 0 0;
}

.u-section-1 .u-tab-pane-6 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 25px;
}

.u-section-1 .u-text-6 {
  line-height: 28.8px;
  font-weight: 400;
  margin: 0 937px 0 0;
}

.u-section-1 .u-table-6 {
  margin: 30px auto 0 0;
}

.u-section-1 .u-tab-pane-7 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 25px;
}

.u-section-1 .u-text-7 {
  line-height: 28.8px;
  font-weight: 400;
  margin: 0 937px 0 0;
}

.u-section-1 .u-table-7 {
  margin: 30px auto 0 0;
}

.u-section-1 .u-tab-pane-8 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px 25px;
}

.u-section-1 .u-text-8 {
  line-height: 28.8px;
  font-weight: 400;
  margin: 0 937px 0 0;
}

.u-section-1 .u-table-8 {
  margin: 30px auto 0 0;
}

.u-section-1 .u-tab-pane-9 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px 25px;
}

.u-section-1 .u-text-9 {
  line-height: 28.8px;
  font-weight: 400;
  margin: 0 937px 0 0;
}

.u-section-1 .u-table-9 {
  margin: 30px auto 0 0;
}

.u-section-1 .u-tab-pane-10 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px 25px;
}

.u-section-1 .u-text-10 {
  line-height: 28.8px;
  font-weight: 400;
  margin: 0 937px 0 0;
}

.u-section-1 .u-table-10 {
  margin: 30px auto 0 0;
}

.u-section-1 .u-tab-pane-11 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px 25px;
}

.u-section-1 .u-text-11 {
  line-height: 28.8px;
  font-weight: 400;
  margin: 0 937px 0 0;
}

.u-section-1 .u-table-11 {
  margin: 30px auto 0 0;
}

.u-section-1 .u-tab-pane-12 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-12 {
  padding: 30px 25px;
}

.u-section-1 .u-text-12 {
  line-height: 28.8px;
  font-weight: 400;
  margin: 0 937px 0 0;
}

.u-section-1 .u-table-12 {
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 282px;
  }

  .u-section-1 .u-tabs-1 {
    min-height: 406px;
    height: auto;
    width: 940px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 2px;
    margin-right: 737px;
  }

  .u-section-1 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    margin-top: 2px;
    margin-right: 737px;
  }

  .u-section-1 .u-table-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-3 {
    margin-top: 2px;
    margin-right: 737px;
  }

  .u-section-1 .u-table-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-4 {
    margin-top: 2px;
    margin-right: 737px;
  }

  .u-section-1 .u-table-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-5 {
    margin-top: 2px;
    margin-right: 737px;
  }

  .u-section-1 .u-table-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-6 {
    margin-top: 2px;
    margin-right: 737px;
  }

  .u-section-1 .u-table-6 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-7 {
    margin-top: 2px;
    margin-right: 737px;
  }

  .u-section-1 .u-table-7 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-8 {
    margin-top: 2px;
    margin-right: 737px;
  }

  .u-section-1 .u-table-8 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-9 {
    margin-top: 2px;
    margin-right: 737px;
  }

  .u-section-1 .u-table-9 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-10 {
    margin-top: 2px;
    margin-right: 737px;
  }

  .u-section-1 .u-table-10 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-11 {
    margin-top: 2px;
    margin-right: 737px;
  }

  .u-section-1 .u-table-11 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-12 {
    margin-top: 2px;
    margin-right: 737px;
  }

  .u-section-1 .u-table-12 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-left: 62px;
  }

  .u-section-1 .u-tabs-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 517px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 517px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 517px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 517px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 517px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 517px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 517px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 517px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 517px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 517px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 517px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 517px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-tabs-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 367px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 367px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 367px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 367px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 367px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 367px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 367px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 367px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 367px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 367px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 367px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 367px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-tabs-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 167px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 167px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 167px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 167px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 167px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 167px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 167px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 167px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 167px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 167px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 167px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 167px;
  }
}